#bingo-grid {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
}
.bingo-cell {
    min-height: 125px;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}
.bingo-cell.filled {
    background-color: black;
    color: white
}
.bingo-label {
    width: 80%;
    text-align: center;
}
.bingo-input, .bingo-input > input {
    width: 100%;
    box-sizing: border-box;
}
.bingo-input > input {
    border: none;
}
.bingo-input {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
@media screen and (min-width: 1080px) {
    .bingo-input > input {
        font-size: 1.5em;
    }
}